@mixin button {
  border: var(--color-light) 1.2px solid;
  padding: 0.6rem 0.8rem;
  display: inline-flex;
  align-items: center;
  background: transparent;
  text-decoration: none;
  &__button {
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    margin-right: 0.6rem;
  }

  &__icon {
    fill: var(--color-light);
  }
}

@mixin button-basic {
  border: var(--color-light) 1.2px solid;
  padding: 1rem;
  background: transparent;
  font-size: 0.76rem;
  text-transform: uppercase;
  color: var(--color-light);
  letter-spacing: 0.2rem;
  font-weight: 550;
}

@mixin button-white {
  @include button-basic;
  background: var(--color-light);
  color: var(--color-primary-dark);
}

@mixin icon {
  fill: var(--color-primary-dark);
  background: var(--color-light);
  padding: 0.5rem;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
