:root {
  --color-primary: #6e5773;
  --color-secondary: #d45d79;
  --color-tertiary: #ea9085;

  --color-primary-2: #f6eec7;
  --color-secondary-2: #f7d695;
  --color-tertiary-2: #347474;

  --color-light: #f4f4f4;
  --color-light-2: #e9e2d0;
  --color-light-3: #dbd6c8;
}
