@media only screen and (max-width: 480px) {
  .header {
    background: linear-gradient(
        to bottom,
        var(--color-primary-trs),
        var(--color-primary-dark-trs)
      ),
      url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    height: 70vh;
    padding: var(--pd);

    .nav {
      margin-bottom: 5rem;
      &__logo {
        display: inline-block;
        text-transform: uppercase;
        background: var(--color-light);
        color: var(--color-dark);
        padding: 0.2rem 0.2rem;
        font-size: 0.78rem;
        font-weight: bold;
        letter-spacing: 0.38rem;
      }
    }

    .title {
      &__main {
        margin: 2rem 0;
        padding: 1rem 0;
        font-size: 1.85rem;
        letter-spacing: 0.1rem;
        border-bottom: 2.5px solid var(--color-light);
      }

      &__paragraph {
        text-transform: uppercase;
        font-size: 0.74rem;
        letter-spacing: 0.18rem;
        margin: 2rem 0;
      }

      .btn {
        border: var(--color-light) 1.2px solid;
        padding: 0.6rem 0.8rem;
        display: inline-flex;
        align-items: center;
        &__button {
          font-size: 0.76rem;
          text-transform: uppercase;
          color: var(--color-light);
          letter-spacing: 0.2rem;
          font-weight: 550;
          margin-right: 0.6rem;
        }

        &__icon {
          fill: var(--color-light);
        }
      }
    }
  }

  .section {
    .cards {
      height: 50vh;
      padding: var(--pd);

      &__title {
        border-bottom: 1.5px solid var(--color-light);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        display: inline-flex;
        flex-direction: column;
        width: 10rem;
        margin-top: 25%;
      }

      &__paragraph {
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
      }

      &__1 {
        background: linear-gradient(
            to bottom,
            var(--color-secondary-trs),
            var(--color-tertiary-trs)
          ),
          url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
      }

      &__2 {
        background: linear-gradient(
            to bottom,
            var(--color-secondary-2-trs),
            var(--color-secondary-2-trs)
          ),
          url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
      }
    }
  }
}
