@media only screen and (max-width: 480px) {
  .header {
    background: linear-gradient(
        to bottom,
        var(--color-primary-trs),
        var(--color-primary-dark-trs)
      ),
      url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    height: 70vh;
    padding: var(--pd);

    .nav {
      @include navigation;
    }

    .title {
      &__main {
        margin: 2rem 0;
        padding: 1rem 0;
        font-size: 1.85rem;
        letter-spacing: 0.1rem;
        border-bottom: 2.5px solid var(--color-light);
      }

      &__paragraph {
        text-transform: uppercase;
        font-size: 0.74rem;
        letter-spacing: 0.18rem;
        margin: 2rem 0;
      }

      .btn {
        @include button;
      }
    }
  }

  .section {
    .cards {
      height: 50vh;
      padding: var(--pd);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &__title {
        border-bottom: 1.5px solid var(--color-light);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        display: inline-flex;
        flex-direction: column;
        width: 11rem;
      }

      &__paragraph {
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
      }

      &__1 {
        background: linear-gradient(
            to bottom,
            var(--color-secondary-trs),
            var(--color-tertiary-trs)
          ),
          url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
      }

      &__2 {
        background: linear-gradient(
            to bottom,
            var(--color-secondary-2-trs),
            var(--color-secondary-2-trs)
          ),
          url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
      }
      &__3 {
        background: linear-gradient(
            to bottom,
            var(--color-tertiary-3-trs),
            var(--color-tertiary-3-trs)
          ),
          url(/Photography-Project/assets/img/img-4.jpg) no-repeat top/cover;
      }
      &__4 {
        background: linear-gradient(
            to bottom,
            var(--color-tertiary-4-trs),
            var(--color-tertiary-4-trs)
          ),
          url(/Photography-Project/assets/img/img-5.jpg) no-repeat top/cover;
      }
      &__5 {
        background: linear-gradient(
            to bottom,
            var(--color-tertiary-5-trs),
            var(--color-tertiary-5-trs)
          ),
          url(/Photography-Project/assets/img/img-6.jpg) no-repeat bottom/cover;
      }
      &__6 {
        background: linear-gradient(
            to bottom,
            var(--color-tertiary-6-trs),
            var(--color-tertiary-6-trs)
          ),
          url(/Photography-Project/assets/img/img-7.jpg) no-repeat bottom/cover;
      }
      &__7 {
        background: linear-gradient(
          to bottom,
          var(--color-primary-dark-trs),
          var(--color-primary-dark-trs)
        );

        height: 62vh;

        .btn {
          @include button;
        }
      }
    }
  }

  .form {
    background: var(--color-primary-dark);
    padding: 2.5rem 2rem;

    &__title {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.85rem;
      margin-bottom: 0.5rem;
    }

    &__input {
      background: var(--color-primary-dark-trs);
      border: none;
      padding: 0.7rem;
      margin-bottom: 2rem;
      width: 100%;
      color: var(--color-light);
      font-size: 1rem;

      &:focus {
        outline: 3px solid #b87cc5;
        color: var(--color-light);
        font-size: inherit;
      }
    }

    &__message {
      height: 8rem;
      font-family: inherit;
      font-size: inherit;
    }

    .btn--white {
      @include button-white;
      margin-right: 0.8rem;
      &:focus {
        background: var(--color-tertiary-trs);
      }
    }

    .btn--clear {
      @include button-basic;
      &:focus {
        background: var(--color-tertiary-trs);
      }
    }
  }

  .contact {
    background: var(--color-primary-dark);
    padding: 2rem 0;

    &__group {
      // padding: 2rem;
      border-top: 1.5px solid var(--color-primary-dark-trs);
      padding: 3rem 2rem;
      display: flex;
    }

    &__icon {
      @include icon;
    }

    &__title {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }

    &__content {
      line-height: 1.8rem;
    }

    &__link,
    &__link:link,
    &__link:visited {
      color: var(--color-light);
      text-decoration: none;
      border-bottom: 1px dotted var(--color-light);
    }
  }

  .footer {
    background: var(--color-primary-dark);
    padding: 2rem;
    border-top: 1.5px solid var(--color-primary-dark-trs);

    .icons {
      margin-bottom: 2rem;
      display: flex;

      &__icon {
        @include icon;
      }
    }

    .copyright {
      font-size: 0.84rem;
      color: var(--color-primary-trs);
      line-height: 1.2rem;

      a,
      a:link,
      a:visited {
        text-decoration: none;
        border-bottom: dotted 1px var(--color-primary-trs);
        color: inherit;
      }
    }
  }

  // Landing Page
  .landing {
    .landing-header {
      background: linear-gradient(
          to bottom,
          var(--color-secondary-trs),
          var(--color-secondary-trs)
        ),
        url(/Photography-Project/assets/img/img-8.jpg) no-repeat top/cover;
      height: 50vh;
      padding: var(--pd);
    }

    .cards {
      &__title {
        width: auto;
      }
    }

    .section-1 {
      .image {
        background: url(/Photography-Project/assets/img/img-9.jpg) no-repeat
          center/cover;
        height: 70vh;
      }
    }
    .section-2 {
      .image {
        background: url(/Photography-Project/assets/img/img-10.jpg) no-repeat
          center/cover;
        height: 70vh;
      }
    }
    .section-3 {
      .image {
        background: url(/Photography-Project/assets/img/img-11.jpg) no-repeat
          bottom/cover;
        height: 70vh;
      }
    }

    .btn {
      &__button {
        margin-left: 0.6rem;
      }
    }
  }
}
