:root {
  --color-primary: #6e5773;
  --color-primary-dark: #392d3b;
  --color-primary-darkest: #2e2430;
  --color-primary-trs: #6e5773e8;
  --color-primary-dark-trs: #453747f5;
  --color-secondary: #d45d79;
  --color-tertiary: #ea9085;
  --color-secondary-trs: #d45d79e0;
  --color-tertiary-trs: #ea9185e8;
  --color-primary-2: #f6eec7;
  --color-secondary-2: #f7d695;
  --color-tertiary-2: #347474;
  --color-secondary-2-trs: #e6c584e8;
  --color-tertiary-2-trs: #347474e0;
  --color-tertiary-3-trs: #d6254ee3;
  --color-tertiary-4-trs: #9ece60d8;
  --color-tertiary-5-trs: #5b58b8e3;
  --color-tertiary-6-trs: #cfb495e7;
  --color-light: #fff;
  --color-light-2: #000000;
  --color-light-3: #dbd6c8;
  --color-dark: #4f4e52;
  --color-dark: #3d3c3f;
  --color-dark: #25242a;
  --pd: 1rem 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: var(--color-light);
}

@media only screen and (max-width: 480px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary-trs)), to(var(--color-primary-dark-trs))), url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-primary-trs), var(--color-primary-dark-trs)), url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    height: 70vh;
    padding: var(--pd);
  }
  .header .nav {
    margin-bottom: 5rem;
    position: fixed;
  }
  .header .nav__logo {
    display: inline-block;
    text-transform: uppercase;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.2rem 0.2rem;
    font-size: 0.78rem;
    font-weight: bold;
    letter-spacing: 0.38rem;
    text-decoration: none;
  }
  .header .nav .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .header .nav .menu-wrap__toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    opacity: 0;
  }
  .header .nav .menu-wrap__hamburger {
    position: absolute;
    top: 0rem;
    right: 1rem;
    z-index: 1;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav .menu-wrap__hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    height: 2px;
    background: var(--color-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .nav .menu-wrap__hamburger > div::before,
  .header .nav .menu-wrap__hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -0.32rem;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  .header .nav .menu-wrap__hamburger > div::after {
    top: 0.32rem;
  }
  .header .nav .menu-wrap .menu-wrap__toggler:checked + .menu-wrap__hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .header .nav .menu-wrap .menu-wrap__toggler:checked + .menu-wrap__hamburger > div::before,
  .header .nav .menu-wrap .menu-wrap__toggler:checked + .menu-wrap__hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header .nav .menu-wrap__toggler:checked ~ .menu {
    visibility: visible;
  }
  .header .nav .menu-wrap__toggler:checked ~ .menu > div {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition-duration: 0.75s;
            transition-duration: 0.75s;
  }
  .header .nav .menu-wrap__toggler:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
  }
  .header .nav .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav .menu > div {
    background: var(--color-primary-dark-trs);
    width: 200vw;
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .nav .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .header .nav .menu > div > div > ul > li {
    list-style: none;
    font-size: 0.86rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 18rem;
  }
  .header .nav .menu > div > div > ul > li:nth-child(-n + 2) {
    border-bottom: 1px solid var(--color-primary-trs);
  }
  .header .nav .menu > div > div > ul > li > a {
    text-decoration: none;
    color: var(--color-light);
    padding: 1rem;
  }
  .header .nav .menu .btn--white {
    border: var(--color-light) 1.2px solid;
    padding: 1rem;
    background: transparent;
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    background: var(--color-light);
    color: var(--color-primary-dark);
  }
  .header .nav .menu .btn--white:focus {
    background: var(--color-tertiary-trs);
  }
  .header .nav .menu .btn--clear {
    border: var(--color-light) 1.2px solid;
    padding: 1rem;
    background: transparent;
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
  }
  .header .nav .menu .btn--clear:focus {
    background: var(--color-tertiary-trs);
  }
  .header .nav .menu .btn-1,
  .header .nav .menu .btn-2 {
    margin-top: 1.3rem;
  }
  .header .nav-background {
    height: 20vh;
    background: crimson;
  }
  .header .title {
    margin-top: 25%;
  }
  .header .title__main {
    margin: 2rem 0;
    padding: 1rem 0;
    font-size: 1.85rem;
    letter-spacing: 0.1rem;
    border-bottom: 2.5px solid var(--color-light);
  }
  .header .title__paragraph {
    text-transform: uppercase;
    font-size: 0.74rem;
    letter-spacing: 0.18rem;
    margin: 2rem 0;
  }
  .header .title .btn {
    border: var(--color-light) 1.2px solid;
    padding: 0.6rem 0.8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    text-decoration: none;
  }
  .header .title .btn__button {
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    margin-right: 0.6rem;
  }
  .header .title .btn__icon {
    fill: var(--color-light);
  }
  .section .cards {
    height: 50vh;
    padding: var(--pd);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section .cards__title {
    border-bottom: 1.5px solid var(--color-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 11rem;
  }
  .section .cards__paragraph {
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
  .section .cards__1 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary-trs)), to(var(--color-tertiary-trs))), url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-secondary-trs), var(--color-tertiary-trs)), url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
  }
  .section .cards__2 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary-2-trs)), to(var(--color-secondary-2-trs))), url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-secondary-2-trs), var(--color-secondary-2-trs)), url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
  }
  .section .cards__3 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-tertiary-3-trs)), to(var(--color-tertiary-3-trs))), url(/Photography-Project/assets/img/img-4.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-tertiary-3-trs), var(--color-tertiary-3-trs)), url(/Photography-Project/assets/img/img-4.jpg) no-repeat top/cover;
  }
  .section .cards__4 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-tertiary-4-trs)), to(var(--color-tertiary-4-trs))), url(/Photography-Project/assets/img/img-5.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-tertiary-4-trs), var(--color-tertiary-4-trs)), url(/Photography-Project/assets/img/img-5.jpg) no-repeat top/cover;
  }
  .section .cards__5 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-tertiary-5-trs)), to(var(--color-tertiary-5-trs))), url(/Photography-Project/assets/img/img-6.jpg) no-repeat bottom/cover;
    background: linear-gradient(to bottom, var(--color-tertiary-5-trs), var(--color-tertiary-5-trs)), url(/Photography-Project/assets/img/img-6.jpg) no-repeat bottom/cover;
  }
  .section .cards__6 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-tertiary-6-trs)), to(var(--color-tertiary-6-trs))), url(/Photography-Project/assets/img/img-7.jpg) no-repeat bottom/cover;
    background: linear-gradient(to bottom, var(--color-tertiary-6-trs), var(--color-tertiary-6-trs)), url(/Photography-Project/assets/img/img-7.jpg) no-repeat bottom/cover;
  }
  .section .cards__7 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary-dark-trs)), to(var(--color-primary-dark-trs)));
    background: linear-gradient(to bottom, var(--color-primary-dark-trs), var(--color-primary-dark-trs));
    height: 62vh;
  }
  .section .cards__7 .btn {
    border: var(--color-light) 1.2px solid;
    padding: 0.6rem 0.8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    text-decoration: none;
  }
  .section .cards__7 .btn__button {
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    margin-right: 0.6rem;
  }
  .section .cards__7 .btn__icon {
    fill: var(--color-light);
  }
  .form {
    background: var(--color-primary-dark);
    padding: 2.5rem 2rem;
  }
  .form__title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
  .form__input {
    background: var(--color-primary-dark-trs);
    border: none;
    padding: 0.7rem;
    margin-bottom: 2rem;
    width: 100%;
    color: var(--color-light);
    font-size: 1rem;
  }
  .form__input:focus {
    outline: 3px solid #b87cc5;
    color: var(--color-light);
    font-size: inherit;
  }
  .form__message {
    height: 8rem;
    font-family: inherit;
    font-size: inherit;
  }
  .form .btn--white {
    border: var(--color-light) 1.2px solid;
    padding: 1rem;
    background: transparent;
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    background: var(--color-light);
    color: var(--color-primary-dark);
    margin-right: 0.8rem;
  }
  .form .btn--white:focus {
    background: var(--color-tertiary-trs);
  }
  .form .btn--clear {
    border: var(--color-light) 1.2px solid;
    padding: 1rem;
    background: transparent;
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
  }
  .form .btn--clear:focus {
    background: var(--color-tertiary-trs);
  }
  .contact {
    background: var(--color-primary-dark);
    padding: 2rem 0;
  }
  .contact__group {
    border-top: 1.5px solid var(--color-primary-dark-trs);
    padding: 3rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__icon {
    fill: var(--color-primary-dark);
    background: var(--color-light);
    padding: 0.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  .contact__title {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .contact__content {
    line-height: 1.8rem;
  }
  .contact__link, .contact__link:link, .contact__link:visited {
    color: var(--color-light);
    text-decoration: none;
    border-bottom: 1px dotted var(--color-light);
  }
  .footer {
    background: var(--color-primary-dark);
    padding: 2rem;
    border-top: 1.5px solid var(--color-primary-dark-trs);
  }
  .footer .icons {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .icons__icon {
    fill: var(--color-primary-dark);
    background: var(--color-light);
    padding: 0.5rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  .footer .copyright {
    font-size: 0.84rem;
    color: var(--color-primary-trs);
    line-height: 1.2rem;
  }
  .footer .copyright a,
  .footer .copyright a:link,
  .footer .copyright a:visited {
    text-decoration: none;
    border-bottom: dotted 1px var(--color-primary-trs);
    color: inherit;
  }
}

@media only screen and (max-width: 480px) {
  .generic-header {
    background: var(--color-primary-dark);
    height: auto;
    border-bottom: 1.5px solid var(--color-primary-dark-trs);
  }
  .generic-header .title__main {
    width: 7.5rem;
    margin-top: -2rem;
  }
  .generic-header .title .image {
    background: url(/Photography-Project/assets/img/img-12.jpg) no-repeat center/cover;
    height: 25vh;
  }
  .generic-header .title__paragraph {
    text-transform: none;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .landing .landing-header {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary-trs)), to(var(--color-secondary-trs))), url(/Photography-Project/assets/img/img-8.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-secondary-trs), var(--color-secondary-trs)), url(/Photography-Project/assets/img/img-8.jpg) no-repeat top/cover;
    height: 50vh;
    padding: var(--pd);
  }
  .landing .cards__title {
    width: auto;
  }
  .landing .section-1 .image {
    background: url(/Photography-Project/assets/img/img-9.jpg) no-repeat center/cover;
    height: 70vh;
  }
  .landing .section-2 .image {
    background: url(/Photography-Project/assets/img/img-10.jpg) no-repeat center/cover;
    height: 70vh;
  }
  .landing .section-3 .image {
    background: url(/Photography-Project/assets/img/img-11.jpg) no-repeat bottom/cover;
    height: 70vh;
  }
  .landing .btn__button {
    margin-left: 0.6rem;
  }
}
/*# sourceMappingURL=main.css.map */