:root {
  --color-primary: #6e5773;
  --color-primary-dark: #392d3b;
  --color-primary-trs: #6e5773e3;
  --color-primary-dark-trs: #453747ea;
  --color-secondary: #d45d79;
  --color-tertiary: #ea9085;
  --color-secondary-trs: #d45d79e0;
  --color-tertiary-trs: #ea9185e8;
  --color-primary-2: #f6eec7;
  --color-secondary-2: #f7d695;
  --color-tertiary-2: #347474;
  --color-secondary-2-trs: #e6c584e8;
  --color-tertiary-2-trs: #347474e0;
  --color-light: #fff;
  --color-light-2: #000000;
  --color-light-3: #dbd6c8;
  --color-dark: #4f4e52;
  --color-dark: #3d3c3f;
  --color-dark: #25242a;
  --pd: 1rem 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: var(--color-light);
}

@media only screen and (max-width: 480px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-primary-trs)), to(var(--color-primary-dark-trs))), url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-primary-trs), var(--color-primary-dark-trs)), url(/Photography-Project/assets/img/img-1.jpg) no-repeat top/cover;
    height: 70vh;
    padding: var(--pd);
  }
  .header .nav {
    margin-bottom: 5rem;
  }
  .header .nav__logo {
    display: inline-block;
    text-transform: uppercase;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.2rem 0.2rem;
    font-size: 0.78rem;
    font-weight: bold;
    letter-spacing: 0.38rem;
  }
  .header .title__main {
    margin: 2rem 0;
    padding: 1rem 0;
    font-size: 1.85rem;
    letter-spacing: 0.1rem;
    border-bottom: 2.5px solid var(--color-light);
  }
  .header .title__paragraph {
    text-transform: uppercase;
    font-size: 0.74rem;
    letter-spacing: 0.18rem;
    margin: 2rem 0;
  }
  .header .title .btn {
    border: var(--color-light) 1.2px solid;
    padding: 0.6rem 0.8rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .title .btn__button {
    font-size: 0.76rem;
    text-transform: uppercase;
    color: var(--color-light);
    letter-spacing: 0.2rem;
    font-weight: 550;
    margin-right: 0.6rem;
  }
  .header .title .btn__icon {
    fill: var(--color-light);
  }
  .section .cards {
    height: 50vh;
    padding: var(--pd);
  }
  .section .cards__title {
    border-bottom: 1.5px solid var(--color-light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 10rem;
    margin-top: 25%;
  }
  .section .cards__paragraph {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  .section .cards__1 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary-trs)), to(var(--color-tertiary-trs))), url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-secondary-trs), var(--color-tertiary-trs)), url(/Photography-Project/assets/img/img-2.jpg) no-repeat top/cover;
  }
  .section .cards__2 {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--color-secondary-2-trs)), to(var(--color-secondary-2-trs))), url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
    background: linear-gradient(to bottom, var(--color-secondary-2-trs), var(--color-secondary-2-trs)), url(/Photography-Project/assets/img/img-3.jpg) no-repeat top/cover;
  }
}
/*# sourceMappingURL=main.css.map */